{% extends 'base.html.twig' %}

{% block title %}Edit Universe
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_universe') }}
{% endblock %}

{% block body %}
	<main class="container p-5 my-5">
		<div class="d-flex justify-content-between">
			<h1 class="fs-2">éditer l'univers</h1>
			<a class="btn btn-primary fs-6 text-light pt-2 px-3 text-center" href="{{ path('admin_universe_index') }}">Revenir</a>
		</div>
		{{ include('admin_universe/_form.html.twig', {'button_label': 'éditer'}) }}
		{{ include('admin_universe/_delete_form.html.twig') }}
	</main>
{% endblock %}
