{% extends 'admin_base.html.twig' %}

{% block title %}Univers
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_universe') }}
{% endblock %}

{% block body %}
	<main class="container d-flex my-5">
		<div class="col-1 d-flex flex-column align-items-end">
			<h1 class="title text-dark p-0 m-0">Univers</h1>
			<a class="bg-dark fs-1 fw-bolder px-4 m-3 rounded-2 text-center text-light text-decoration-none" href="{{ path('admin_universe_new') }}">
				+
			</a>
		</div>
		<div class="col">
			<table class="table table-striped border border-dark ">
				<thead>
					<tr>
						<th class="px-4 col-5 h2">Title</th>
						<th class="h2">Image</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for universe in universes %}
						<tr>
							<td class="align-middle universes text-uppercase fw-bolder px-4">{{ universe.title }}</td>
							<td class="align-middle">
								<div class="custom-size">
									<img src="{{ universe.image ? asset('/uploads/universe/' ~ universe.image) : asset('build/images/logoTorii.png') }}" class="object-fit-cover h-100" alt=" ...">
								</div>
							</td>
							<td class="bg-dark d-flex justify-content-evenly p-3">
								<a class="text-light mx-3" href="{{ path('admin_universe_show', {'id': universe.id}) }}">
									{% include 'icons/view.svg' %}</a>
								<a class="text-light rounded-2" href="{{ path('admin_universe_edit', {'id': universe.id}) }}">
									{% include 'icons/edit.svg' %}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
