{% extends 'admin_base.html.twig' %}

{% block title %}Universe
{% endblock %}

{% block body %}
	<h1>Universe</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ universe.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ universe.Title }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ universe.image }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_universe_index') }}">back to list</a>

	<a href="{{ path('app_admin_universe_edit', {'id': universe.id}) }}">edit</a>

	{{ include('admin_universe/_delete_form.html.twig') }}
{% endblock %}
