{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
	<section class="container py-4">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow rounded-2 border border-0 h2 fs-5 bg-light text-dark">
					<div class="position-relative">
						<img src="{{ asset('build/images/city.png') }}" class="img object-fit-cover card-img-top" alt="ville d'anime">
						<img src="{{ asset('build/images/singer.png') }}" class="img-singer w-25 p-2 position-absolute top-100 start-50 translate-middle" alt="masque">
					</div>
					<div class="card-body d-flex flex-column align-items-center p-2">
						<div class="mb-md-5 mt-md-4">
							{% for flash_error in app.flashes('verify_email_error') %}
								<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
							{% endfor %}
							{{ form_start(registrationForm) }}

							<div class="">
								<label for="pseudonym" class="form-label">Pseudo</label>
								<div class="input-group">
									<span class="col-2 input-group-text rounded-0 text-light bg-dark border border-dark">
										{% include 'icons/profil.svg' %}
									</span>
									{{ form_widget(registrationForm.pseudonym, {'attr': {'class': 'border border-5 border-dark roboto form-control form-control-lg text-dark'}}) }}
								</div>
							</div>
							<div class="">
								<label for="email" class="form-label">Email</label>
								<div class="input-group">
									<span class="col-2 input-group-text rounded-0 text-light bg-dark border border-dark">
										{% include 'icons/email.svg' %}
									</span>
									{{ form_widget(registrationForm.email, {'attr': {'class': 'border border-5 border-dark input roboto fs-6 fw-bolder form-control form-control-lg text-dark'}})  }}
								</div>
							</div>

							<div class="mb-5">
								<label for="password" class="form-label">Mots de passe</label>
								<div class="input-group">
									<span class="col-2 input-group-text rounded-0 text-light bg-dark border border-dark">
										{% include 'icons/password.svg' %}
									</span>
									{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'border border-5 border-dark input roboto fs-6 fw-bolder form-control form-control-lg text-dark'}})  }}
								</div>
							</div>


							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="d-flex flex-column align-items-center my-2">
								<button class="btn rounded-1 text-dark border fs-5 border-0 btn-outline-primary btn-lg px-5" type="submit">S'inscrire</button>
								{{ form_end(registrationForm) }}

							</div>
							<div class="d-flex flex-column align-items-center">
								<p class="m-2 roboto fs-6 fw-bolder">Déjà un compte?
									<a href="{{ path('app_login') }}" class="h2 text-dark text-decoration-none fs-6">Connexion</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
