{% extends 'admin_base.html.twig' %}

{% block title %}Collector index
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_universe') }}
{% endblock %}

{% block body %}
	<main class="container d-flex my-5">
		<div class="col-1 d-flex flex-column align-items-end">
			<h1 class="title text-dark p-0 m-0">Collectors</h1>
			<a class="bg-dark fs-1 fw-bolder px-4 m-3 rounded-2 text-center text-light text-decoration-none" href="{{ path('admin_collector_new') }}">
				+
			</a>
		</div>
		<div class="col">
			<table class="table table-striped border border-dark ">
				<thead>
					<tr>
						<th class="col-3 h2">Title</th>
						<th class="col-2 h2">Type</th>
						<th class="col-1 h2">N°</th>
						<th class="col-2 h2">Univers</th>
						<th class="h2">Image</th>
					</tr>
				</thead>
				<tbody>
					{% for collector in collectors %}
						<tr>
							<td class="universes text-uppercase fw-bolder px-4 pt-3">{{ collector.title }}</td>
							<td class="fw-bolder fs-6">{{ collector.type }}</td>
							<td class="fw-bolder fs-5">{{ collector.number }}</td>
							<td class="fw-bolder fs-6">{{ collector.universe.title }}</td>

							<td>
								<img src="{{ collector.image ? asset('/uploads/collector/' ~ collector.image) : asset('build/images/logoTorii.png') }}" width="10%" class="image" alt=" ...">
							</td>

							<td class="bg-dark pt-3 d-flex justify-content-center align-items-center">
								<a class="text-light mx-3" href="{{ path('admin_collector_show', {'id': collector.id}) }}">
									{% include 'icons/view.svg' %}</a>
								<a class="text-light p-3 rounded-2" href="{{ path('admin_collector_edit', {'id': collector.id}) }}">
									{% include 'icons/edit.svg' %}</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">no records found</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
