<nav class="navbar navbar-expand-lg bg-light border border-black border-5 border-start-0 border-top-0 border-end-0 p-0 ">
	<div class="container">
		<a class="navbar-brand mx-3" href="{{ path('home_index')}}">
			<img class="logo-nav img-fluid d-none d-md-block" src=" {{ asset('build/images/logoTorii.png') }} " width="25%" alt="Logo Limited Manga">
		</a>
		<ul class="navbar-nav order-md-2 mt-2 ">
			<li class="dropdown ">
				<a class="nav-link bnSuper text-black dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{% if app.user %}
						{{ app.user.pseudonym }}
					{% endif %}
					{% include 'icons/profil.svg' %}
				</a>
				<ul class="bg-primary rounded-1 p-0 m-0 dropdown-menu">
					<li>
						{% if app.user %}
							<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('profile') }}">Profil</a>
							{% if is_granted('ROLE_ADMIN') %}
								<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('admin_universe_index') }}">Admin</a>
							{% endif %}
							<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('app_logout') }}">Déconnexion</a>

						{% else %}
							<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('app_login') }}">Connexion</a>

							<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('app_register') }}">S'inscrire</a>
						{% endif %}
					</li>
				</ul>
			</li>
		</ul>
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav mt-2">
				<li class="nav-item">
					<a class="bnSuper nav-link mx-3 fs-6 text-black" href="{{ path('universe_index') }}">actualités</a>
				</li>
				<li class="nav-item">
					<a class="bnSuper nav-link mx-3 fs-6 text-black" href="{{ path('universe_index') }}">Univers</a>
				</li>
				<li class="nav-item">
					<a class="bnSuper nav-link mx-3 fs-6 text-black" href="#">Twitter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
