<div class="">
	<div class="row">
		<div class="col px-5 bg-dark">
			<div class="d-flex flex-column align-items-center p-5 vh-100">
				<img class="img-fluid" src=" {{ asset('build/images/logoTorii.png') }} " alt="Logo Limited Manga">
				<hr class="py-5">

				<ul class="nav">
					<li class="nav-item">
						<a href="#" class="bnSuper text-light fs-5 nav-link align-middle py-3 ">Accueil</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('admin_universe_index') }}" class="bnsuper text-light fs-5 nav-link align-middle py-3">univers</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('admin_collector_index') }}" class="bnsuper text-light fs-5 nav-link align-middle py-3">Collectors</a>
					</li>
				</ul>
				<hr class="py-5">
				<hr class="py-5">
				<ul class="nav d-flex flex-column align-items-center">
					<li class="dropdown">

						<a class="d-flex flex-column text-center nav-link bnSuper text-light dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<div>
								{% include 'icons/profil.svg' %}
							</div>
							{% if app.user %}

								{{ app.user.pseudonym }}
							{% endif %}
						</a>
						<ul class="bg-light rounded-1 p-0 dropdown-menu">
							<li>
								{% if app.user %}
									<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('profile') }}">Profil</a>
									{% if is_granted('ROLE_ADMIN') %}
										<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('admin_universe_index') }}">Admin</a>
									{% endif %}
									<a class="bnSuper dropdown-item text-decoration-none fs-6 text-black text-center" href="{{ path('app_logout') }}">Déconnexion</a>
								{% endif %}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
